body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D0F0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slider-container {
    width: 80%;
    max-width: 800px;
    position: relative;
}

.slider {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    color: white;
    border: none;
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    transform: translateY(-50%);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

